:root {
    --var-bg-color: #150F1D;
    --var-bg-item-color: #3A2A50;
    --var-primary-red-color: #D72638;
    --var-call-green-color: #36EE5F;
    --var-text-color: #ffffff;
    --var-sub-text-color: #5E5E5E;
    --var-coins-color: #FFCB56;
    --var-xp-color: #5CC8FF;
    --var-points-color: #FB8B24;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: var(--var-bg-color);
    color: var(--var-text-color);
}

.container{
    width: 95%;
    margin-left: 5%;
    padding: 1em 2em;
    box-sizing: border-box;
    position: relative;
}

/* HEADER */
header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
    height: 100vh;
    width: 5%;
    box-sizing: border-box;
    position: fixed;
    border-right: 2px solid var(--var-bg-item-color);
}
header .logo{
    color: var(--var-primary-red-color);
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    padding-bottom: .9em;
    border-bottom: 2px solid var(--var-bg-item-color);
    margin-bottom: .9em;
}
header .nav-bar ul{
    list-style: none;
    text-align: center;
}
header .nav-bar li{
    margin-bottom: 1em;
}
.item-nav-bar{
    color: var(--var-bg-item-color);
    text-decoration: none;
    font-size: 1.5em;
    padding: .3em;
    box-sizing: border-box;
    transition: .2s linear;
}
.item-nav-bar:hover{
    color: var(--var-primary-red-color);
}

/* ALERTS LIST */
.alerts-list{
    position: fixed;
    bottom: 2em;
    right: 2em;
}
.alerts-list ul{
    list-style: none;
}
.alerts-list .alert {
    background-color: var(--var-text-color);
    padding: .5em 0;
    width: 18em;
    margin-top: .5em;
    text-align: center;
    border-radius: 1em;
    opacity: 0;
    transition: .2s ease-in-out;
}

.alerts-list .alert.reward {
    background-color: rgba(54, 238, 95, .2);
    border: 2px solid var(--var-call-green-color);
    color: var(--var-call-green-color);
}
.alerts-list .alert.fail{
    background-color: rgba(215, 38, 56, .2);
    border: 2px solid var(--var-primary-red-color);
    color: var(--var-primary-red-color);
}
.alerts-list .alert.edit{
    background-color: rgba(251, 139, 36, .2);
    border: 2px solid var(--var-points-color);
    color: var(--var-points-color);
}
.alerts-list .alert.levelup{
    background-color: rgba(92, 200, 255, .2);
    border: 2px solid var(--var-xp-color);
    color: var(--var-xp-color);
}
.alerts-list .alert.points{
    background-color: rgba(251, 139, 36, .2);
    border: 2px solid var(--var-points-color);
    color: var(--var-points-color);
}

.alerts-list .alert.opened {
    opacity: 1;
}

/* WARNINGS */
.warnings{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    align-items: center;
    justify-content: center;
    display: none;
}
.warnings.opened{
    display: flex;
}
.warning {
    background-color: var(--var-bg-item-color);
    width: 30em;
    box-sizing: border-box;
    border-radius: 1em;
    overflow: hidden;
    position: relative;
}
.warning-title {
    background-color: var(--var-bg-color);
    color: var(--var-text-color);
    font-weight: bold;
    text-align: center;
    padding: 1em 0;
    font-size: 1.2em;
}
.warning-info{
    color: var(--var-text-color);
    font-size: 1.2em;
    text-align: center;
    padding-top: 1em;
}
.warning-sub-info{
    color: var(--var-sub-text-color);
    text-align: center;
}
.warning-confirm-buttons{
    padding: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
}
.warning-confirm-buttons .btn-new-task{
    border-radius: 2em;
}
.warning-confirm-buttons .btn-new-task:hover{
    padding: 1em 3em;
}

/*TO-DO*/
h4{
    color: var(--var-text-color);
    margin: 1em 0;
}

/* REWARDS */
.coins i{
    color: var(--var-coins-color);
}
.experience i{
    color: var(--var-xp-color);
}
.skill-points i{
    color: var(--var-points-color);
}

/* BUTTONS */
.btn-new-task{
    padding: 1em 2em;
    background-color: var(--var-call-green-color);
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--var-bg-color);
    border: none;
    border-radius: 2em 0 2em 0;
    transition: .2s ease-in-out;
}
.btn-new-task:hover{
    border-radius: 2em;
    cursor: pointer;
    box-shadow: 0 0 .5em 0 black;
}

.btn-blank{
    padding: 1em 2em;
    background-color: var(--var-bg-color);
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--var-text-color);
    border: none;
    outline: 3px solid var(--var-text-color);
    outline-offset: -3px;
    border-radius: 2em;
    transition: .2s ease-in-out;
}

.btn-blank:hover{
    padding: 1em 3em;
    background-color: var(--var-text-color);
    color: var(--var-bg-color);
    cursor: pointer;
    box-shadow: 0 0 .5em 0 black;
}