:root {
    --var-bg-color: #150F1D;
    --var-bg-item-color: #3A2A50;
    --var-primary-red-color: #D72638;
    --var-call-green-color: #36EE5F;
    --var-text-color: #ffffff;
    --var-sub-text-color: #5E5E5E;
    --var-coins-color: #FFCB56;
    --var-xp-color: #5CC8FF;
    --var-points-color: #FB8B24;
}
.profile-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3em;
    border-bottom: 2px solid var(--var-bg-item-color);
}

.user-profile{
    display: flex;
    align-items: center;
    gap: 1em;
}
.user-profile .user-image{
    height: 8em;
    width: 8em;
    background-color: #3A2A50;
    border-radius: 8em;
}
.user-profile .username{
    font-size: 2em;
    font-weight: bold;
}
.user-profile .userclass{
    color: var(--var-sub-text-color);
    font-size: 1.2em;
}
.user-levelbar{
    width: 15em;
    height: 2.2em;
    margin-top: .2em;
}
.levelbar-value{
    text-align: left;
    color: var(--var-xp-color);
    margin-bottom: .2em;
}
.levelbar-outside{
    display: block;
    background-color: var(--var-bg-item-color);
    height: .8em;
    border-radius: 1em 0 1em 0;
    overflow: hidden;
}
.levelbar-inside{
    display: inline-block;
    height: 1em;
    background-color: var(--var-xp-color);
    text-align: right;
    box-shadow: 0 0 5px 0 var(--var-xp-color);
}

/* REWARDS */
.profile-rewards{
    display: flex;
    gap: 2em;
    justify-content: center;
    margin-top: -1.2em;
}
.reward-card{
    background-color: var(--var-bg-item-color);
    padding: .5em;
    width: 7em;
    text-align: center;
    border-radius: 2em;
}
.reward-card.coins{
    border: 2px solid var(--var-coins-color);
}
.reward-card.experience{
    border: 2px solid var(--var-xp-color);
}
.reward-card.points{
    border: 2px solid var(--var-points-color);
}
.reward-card i{
    margin-right: .2em;
}

/* MAIN CONTENT */
.main-content{
    display: flex;
    justify-content: space-between;
}

.main-content hr{
    border: 1px solid var(--var-bg-item-color);
    margin-top: 2em;
}

.user-about{
    margin-bottom: 2em;
}
h3{
    font-size: 1.5em;
    margin: .8em 0;
}
.user-about-info{
    color: #c1c1c1;
}


.main-content-resume{
    width: 50%;
}
.user-resume-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
}
.card-tasks {
    background-color: var(--var-bg-item-color);
    width: auto;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 1em;
    margin-bottom: 1em;
    position: relative;
}
.card-tasks-title{
    font-size: 1em;
    color: #c1c1c1;
}
.card-tasks-data{
    font-size: 3em;
    margin: .3em 0;
    color: var(--var-call-green-color);
}
.card-tasks-icon{
    background-color: rgba(54, 238, 95, .5);
    color: var(--var-call-green-color);
    border: 2px solid var(--var-call-green-color);
    width: 2.5em;
    height: 2.5em;
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 1em;
    right: 1em;
}
.card-tasks-icon i{
    font-size: 1.5em;
}
#card-tasks-data-fail{
    color: var(--var-primary-red-color);
}
.card-tasks-icon.fail{
    background-color: rgba(215, 38, 56, .5);
    color: var(--var-primary-red-color);
    border: 2px solid var(--var-primary-red-color);
}

#card-tasks-data-coins{
    color: var(--var-coins-color);
}
.card-tasks-icon.coins{
    background-color: rgba(255, 203, 86, .5);
    color: var(--var-coins-color);
    border: 2px solid var(--var-coins-color);
}

#card-tasks-data-points{
    color: var(--var-points-color);
}
.card-tasks-icon.points{
    background-color: rgba(251, 139, 36, .5);
    color: var(--var-points-color);
    border: 2px solid var(--var-points-color);
}

.card-tasks-icon i{
    font-size: 1.5em;
}

/* SKILLS */
.list-of-skills-section ul{
    list-style: none;
}
.list-of-skills-label{
    color: var(--var-sub-text-color);
    text-align: right;
    margin-bottom: .2em;
}
.list-of-skills-card{
    display: flex;
    align-items: center;
    margin-bottom: .2em;
}
.list-of-skills-points{
    background-color: var(--var-bg-item-color);
    font-size: 1.2em;
    padding: .4em 0;
    width: 10em;
    text-align: center;
    box-sizing: border-box;
    border-radius: 1em 0 0 1em;
}
.list-of-skills-icon{
    background-color: var(--var-call-green-color);
    color: var(--var-bg-color);
    width: 2em;
    height: 2em;
    font-size: 1.5em;
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -.6em;
}
.add-skill-point-btn{
    margin-right: .2em;
    font-size: 1.5em;
    color: var(--var-points-color);
    background-color: transparent;
    border: none;
    border-radius: 2em;
    transition: .2s linear;
}
.add-skill-point-btn:hover{
    transform: scale(1.1);
    box-shadow: 0 0 5px 0 #000;
    cursor: pointer;
}



@media screen and (max-width: 550px){
    .profile-header{
        border-bottom: none;
    }

    .user-profile{
        gap: 0em;
    }
    .user-profile .user-image{
        height: 5em;
        width: 5em;
        margin-right: .5em;
    }
    .user-profile .username{
        font-size: 1.5em;
    }
    .user-profile .userclass{
        font-size: 1em;
    }
    .user-levelbar{
        width: 12em;
    }
    
    /* REWARDS */
    .profile-rewards{
        display: flex;
        justify-content: space-around;
        margin: .5em 0 2em 0;
    }
    .reward-card{
        background-color: transparent;
        padding: 0;
        width: auto;
        border: none;
    }
    .reward-card.coins{
        border: none;
    }
    .reward-card.experience{
        border: none;
    }
    .reward-card.points{
        border: none;
    }
    .reward-card i{
        margin-right: .2em;
    }
    
    /* MAIN CONTENT */
    .main-content{
        flex-direction: column-reverse;
    }

    .main-content-resume{
        width: 100%;
    }
    .user-resume-cards{
        margin-bottom: 8em;
    }
    
    /* SKILLS */
    .list-of-skills-section ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }
    .list-of-skills-points{
        width: 75%;
    }

    .btn-blank{
        padding: 1em 2em;
        font-size: 1em;
    }
}